@{
    Page.Title = "Activity";
    Layout = "~/_Layout.cshtml";
}

    <div>
        Student Name: Suhaybe Egal<br />
        Student Login: 200417925 <br />
        Section: Put your Section here<br />
        Instrcutor Name: Put your instructor name here<br />
    </div>