@{
    Page.Title = "Manage Student";
    Layout = "/_Layout.cshtml";
}

@section head
{
    <link href="@Href("~/Content/WebGridStyleSheet.css")" rel="stylesheet" media="screen" />
}

<h3>Remove this header and place your code here</h3>